<%= content_tag_for :li, task, :class=>"#{task.status}" do %>
  <span><%= task.name %></span>
  <%= link_to "finished", complete_task_path(task), :method=>:put, :remote=>true unless task.complete? %>
  <%= link_to "delete", task_path(task), :method=>:delete, :remote=>true, :confirm=>"Are you sure you want to delete this task?" %>
  <%= link_to "edit", "#", :remote=>true, :class=>"edit_task_link" unless task.complete? %>

  <%= render(:partial=>'edit_form', :object=>task) unless task.complete? %>
<% end %>
