<div id="sidebar">

  <%= render :partial => 'tags' %>

  <br />
  <ul id="tips">
    <li class='tip'>* selecting the sidebar tags will focus on tasks with any of those tags.</li>
    <li class='tip'>* when focused on a tag new tasks will be tagged with whatever is selected.</li>
  </ul>
</div>

<div id="main">

  <%= simple_form_for :task, :remote=>true, :html=>{:id=>"new_task"} do |f| %>
    <%= f.input :name, :required=>false, :label=>"Add a new task", :input_html=>{:autocomplete=>:off}, :label_html=>{:class=>"inline", :style=>"display:none;"} %>
    <% f.button :submit, :value=>"Add Task", :class=>"awesome" %>
  <% end %>

  <ol id="tasks">
    <%= render @tasks %>
  </ol>

  <ul id="completed_tasks">
    <%= render @completed_tasks %>
  </ul>

</div>
